* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(images/accueil.jpg);
  object-fit: cover;
}
body a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  text-decoration: none;
  justify-content: space-around;
}
body a h1 {
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation-duration: .8s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  
}

@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  }
body a h1:hover {
    color: black;
}

